<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>照片</key>
		<string>keyboard_picture</string>
	</dict>
	<dict>
		<key>拍照</key>
		<string>keyboard_camera</string>
	</dict>
	<dict>
		<key>位置</key>
		<string>keyboard_location</string>
	</dict>
</array>
</plist>
